%tr{ id: dom_id(customer) }
  %td.icon_cell
    = link_to admin_customer_path(customer), class: 'd-block', data: { turbo_frame: 'modal_main' } do
      %i.bi.bi-file-text.h3
  %td
    = customer.id
  %td
    = customer.name
  %td
    = customer.address
  %td
    = customer.gender_i18n
  %td
    = customer.created_at
  %td.icon_cell
    = link_to edit_admin_customer_path(customer), class: 'd-block', data: { turbo_frame: "modal_main" } do
      %i.bi.bi-pencil-square.h3