.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= order.class.human_attribute_name(:id)
      .col-md-9
        = order.id
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= order.class.human_attribute_name(:customer_id)
      .col-md-9
        = link_to order.customer.name, admin_customer_path(order.customer), data: { turbo_frame: 'modal_sub' } if order.customer
.card.mb-3
  .card-header
    %h4.text-muted.mb-0= Admin::OrderDetail.model_name.human
  - if order.order_details.blank?
    .card-body
      .alert= t('infold.no_data')
  - else
    .table-responsive
      %table.table.table-hover.card-table
        %thead
          %tr
            %th= Admin::OrderDetail.human_attribute_name(:product_id)
            %th= Admin::OrderDetail.human_attribute_name(:amount)
        %tbody
          - order.order_details.each do |order_detail|
            %tr
              %td
                = link_to order_detail.product.title, admin_product_path(order_detail.product), data: { turbo_frame: 'modal_sub' } if order_detail.product
              %td
                = order_detail.amount
