- if @order.invalid?
  = turbo_stream.update "form_body" do
    = fields_for @order do |form|
      = render "form", form: form
- else
  = turbo_stream.update "modal_main" do
    = render Admin::RemoteModalComponent.new do |modal|
      = render 'show_wrapper', modal: modal, order: @order
  - if action_name == "create"
    = turbo_stream.prepend "orders" do
      = render 'index_row', order: @order
    = turbo_stream.remove "no_data"
  - else
    = turbo_stream.replace @order do
      = render 'index_row', order: @order
= admin_turbo_stream_flash