= turbo_frame_tag("modal_main") do
  = form_with model: @admin_user do |form|
    = render Admin::RemoteModalComponent.new(backdrop: :static) do |modal|
      = modal.with_header do
        %ol.breadcrumb.text-dark
          %li.breadcrumb-item AdminUser
          %li.breadcrumb-item.active= "#{t('infold.operation.edit')} ##{@admin_user.id}"
      = modal.with_body do
        .modal-body#form_body
          = render "form", form: form
      = modal.with_footer do
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"}= t('infold.operation.cancel')
          = form.submit t('infold.operation.update'), class: 'btn btn-primary'
